/*estidos de footer*/
/*esto ya lo pase al footer.scss*/
.menu-listas {
    list-style: none;
}

.pie-de-pagina {
    text-align: center;
}

.carousel-caption {
    font-size: 25px;
}

.carousel {
    font-size: 25px;
}
